.column img {
  vertical-align: top;
  margin-top: 0;
}

.column h3 {
  margin-bottom: 0.5rem;
}

.float-left {
  float: left;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.float-right {
  float: right;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.small-text {
  font-size: 0.6em;
}