.column img {
  vertical-align: top;
  margin-top: 0;
}

.column h3 {
  margin-bottom: 0.5rem;
}

.float-left {
  float: left;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.float-right {
  float: right;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.small-text {
  font-size: 0.6em;
}

#title-slide::after {
  content: attr(data-presentation-context);
  display: block;
  margin-top: 1.5rem;
  font-size: 0.5em;
  line-height: 1.4;
  color: #F3EDE4;
}

/* Replace pipes with line breaks visually */
#title-slide::after {
  white-space: pre;
  content: "Ocean Data Stewardship\A Rutgers Operational Oceanography Program\A Session #3";
}

#title-slide .date,
#title-slide p.date {
  font-size: 0.5em;
}
